{% extends 'base.html' %}

{% block head %}
<title>Watching History</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Watching History</h1>
    <table border="1" id="watching_history">
        <tr>
            <th>Title</th>
            <th>Season</th>
            <th>Value</th>
            <th>Episode</th>
            <th>Progress</th>
        </tr>
        {% for entry in history %}
        <tr>
            <td>{{ entry.title }}</td>
            <td>{{ entry.season}}</td>
            <td>{{ entry.value }}</td>
            <td>{{ entry.episode}}</td>
            <td>{{ entry.progress }}</td>
            <td>
                <button onclick="editRow({{ loop.index0 }})">Edit</button>
                <button onclick="deleteRow({{ loop.index0 }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Add New Entry</h2>
    <form id="addForm">
        <label for="title">Title:</label>
        <input type="text" name="title" required><br>

        <label for="season">Season:</label>
        <select name="season">
            <option value="季">季</option>
            <option value="卷">卷</option>
        </select><br>

        <label for="value">Value:</label>
        <input type="number" name="value" required><br>

        <label for="episode">Episode:</label>
        <input type="number" name="episode" required><br>

        <label for="progress">Progress:</label>
        <input type="text" name="progress" required><br>

        <button type="button" onclick="addEntry()">Add Entry</button>
    </form>

{% endblock %}